<div id = "stat">
    <li>
        <h4>All statuses, not repeating, alphabetically ordered:</h4>
        <ol>
            <% @query_0.each do |f| %>
            <li><%= f.status%></li>
            <% end %>
        </ol>
    </li>
    <li>
        <h4>The count of all tasks in each project, order by tasks count descending:</h4>
        <table>
            <tr>
                <th>Name</th>
                <th>Count</th>
            </tr>
            <% @sorted.each do |el|%>
            <tr>
                <td><%= el["name"] %></td>
                <td><%= el["value"] %></td>
            </tr>
            <% end %>
        </table>
    </li>
    <li>
        <h4>The count of all tasks in each project, order by projects names:</h4>
        <table>
            <tr>
                <th>Name</th>
                <th>Count</th>
            </tr>
            <% @sorted_2.each do |el| %>
            <tr>
                <td><%= el["name"] %></td>
                <td><%= el["value"] %></td>
            </tr>
            <% end %>
        </table>
    </li>
    <li>
        <h4>The tasks for all projects having the name beginning with “N” letter:</h4>
        <% if @exp.length!=0 %>
        <ol>
        <% @exp.each do |r| %>
            <li>
                <ul>
                <% r.tasks.each do |t| %>
                    <li><%= t.name%></li>
                <% end %>
                </ul>
            </li>
        <% end %>
        </ol>
        <% else %>
        <p>Nothing is found</p>
        <% end %>
    </li>
</div>
<div id="back_to"><%= link_to "Back to projects", users_path, method: :get %></div>
